
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

body {
    font-family: Lato,sans-serif;
}

.benefist-title {
    background: blue;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0 0 0 auto;
    padding: 10px;
    width: fit-content;
    margin-left: auto;

}
/* width: fit-content; 
6irinata da e kolkoto sadarjanieto
margin-left: auto;
otide otdqsno*/
.benefist-list {
    padding: 0px;
    margin: 0px; 
}

.benefist {
    max-width: 800px;
    margin: 60px auto;
}
/* max shirina na sekciqta
//otgore otdolu  */

.benefist-list-item {
  background:gray;  
  list-style: none;
  margin: 1px 0px;
  padding: 10px;
 
}
.benefist-list-item-text {
  display: inline-block;
  width: 90%;
    
}
/* teksta i ikonkata da sa na edin red */

/* margin: 1px 0px;
padding: 10px;
dolepqt se mnogo malko razstoqnie mejdu tqh
*/
.benefist-list-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* parviq i posledniq element da sa s zakragleni border*/

.benefist-list-item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* vtoriq i tretiq da sa dopreni edin do drug */

.benefist-list-item:nth-child(2),.benefist-list-item:nth-child(3){
   margin: 0px;
}



/* ikonkata razmer i cvqt */
.benefist-list-item i {
color: green;
font-size: 20px;

}