html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

section {
    max-width: 70vw;
    /* nqma fiks razmer na parenta i 70 vw e 70% */
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    
   
}