html {
    box-sizing: border-box;
}

div ,section {

    display: flex;
    align-items: center;
}
.notes {
    flex-direction: column;
}


div {
    max-width: 65vw;
}

span {
    border:1px solid black
}