main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
}


/* 
align-items: center; ni pozvolqva da centrirame sadarjanieto na na elementa
flex-start vseki si e s negovata viso4ina ,
stretch vsi4ki sa s ednakva viso4ina sprqmo na dalgiq
flex-wrap: wrap; da hodqt na dolniq red kato se zapalni




*/


section {
    background: pink;
    margin-left: 20px;
}



nav {
    display: flex;
    justify-content: space-around;

}

ul {
    
    display: flex;
  justify-content: space-between;
}

li {
    width: 70px;
}