@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');


html {
    box-sizing: border-box;
}


body {
  padding: 0px;
  margin: 0px;
}
main {
    display: flex;
    margin: 50px 100px;
    
    
}

.main {
  
    background: darkturquoise;
    color:white;
    border-radius: 10PX;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
   
}
.main-title {
    margin-left: 20px;

}

 main .main-list {
    padding: 10px 30px 10px 30px;
}

.main-list li {
    background: darkturquoise;
    display: flex;
    
    align-items: center;
    
    
}
.main-list  li i{
    
    color: blue;
    margin-right: 20px;
   
}

.hey {
    background: chartreuse;
   
    border-radius: 10PX;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    
}

.hey-titles {
    display: flex;
margin: 150px 200px;
}

.hey-titles1{
    color: cyan;
    font-size: large
}
.p{
    text-align: center;
   padding: 15px;
   font-size: 20px;
}

.btn{
  margin-left: 200px;
  padding: 15px;
  border-radius: 7px;
  text-transform: uppercase;
  color: aliceblue;
  background: blueviolet;
}