@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
html {
    box-sizing: border-box;
    font-family:  Helvetica,sans-serif;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}


.nav {
    background: green;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px -2px black;
    /* krag4eto da ne se vijda */
}

.nav-menu {
    padding: 0;
    display: flex;
    /*  da zastanat edno do drugo menutata */
    /* align-items: center;  moje i bez nego*/
}

.nav-menu li {
    margin: 0px 12px;
    /* da ima razstonqie mejdu lmenu */
}

.nav-menu li a {
    text-decoration: none;
    /*  da nqma pods4ertavane */
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    /* ili bold */
    /* align-items: center; moje i bez nego
     */
}
.nav-img {
    width: 120PX;
    /*  slagame razmer na snimkata za da se vijda */
}
.nav-img img {
    width: 100%;
}

.teacher-content {
    background: yellow;
    text-align: center;
    padding: 10px 90px;
    /* overflow: hidden; */
    /* da nqma prazno mejdu sekciite */
    padding: 70px 0px;
    /* kolko da e visko sekciqta */

}
.teacher-content-title {
    /* margin: 30px 0px 10px 0px; */
    
}
.teacher-content-text {
    /* margin: 20px 300px 20px 300px; */
    max-width: 40%;
    /* da e 6iroka */
    margin: 20px auto;
    /* da e zastane po sredata */
}

.main-trainers {
    padding: 50px 80px;
    /* da ne e zalepeno za gornata sekciq */
    display: flex;
    align-items: center;
}
.main-trainer {
    display: flex;
    padding: 20px 40px;
    align-items: flex-start;
}
.main-trainer:nth-child(1) {
    margin-right: 30px;
}
/* samo na parviq trainer da e razdale4em ot voriq */

.main-trainer-img {

 border-radius: 50%;
 /* za da e kraglo */
 margin-right: 30px;
 /* mqsto mejdu snimkata i teksta */
 min-width: 200px;
 /* golemina na snimkata */
}
.main-trainer-img img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid green;
 /* ramka na snimkata */
     /* za da e kraglo */
}
.main-trainer-content-title {
    color:green;
    margin-bottom: 10px;
    margin-top: 0;
    /* da sa na edno nivi s snimkata */
}
.main-trainer-content-job {
    color:lightgray;
    margin-bottom: 10px;
    font-size: 13px;
}
.main-trainer-content-text {
    color:lightgray;
    line-height: 22px;
    
}
/* ------------------- */
.all-trainers {
    display: flex;
    padding:100px 80px 40px 80px;
    align-items: center;
   justify-content: center;
   text-align: center;
   
}
.main-trainer-img {
    
}
.all-trainers-trainer {
    margin: 0px 15px;
    /* snimkite da ne sa dolepeni */
}

.all-trainers-trainer .main-trainer-img img{

    height: 100%;
    object-fit: cover;
    width: 192px;
    height: 192px;
    /* ednata snimka e poi golqma i taka se pravi */

   }

   .main-trainer-content {
       margin-top: 20px;
       /* pod snimite imenata da sa malko po nadolusadsz */
   }

   .kids-team{
       background: cyan;
       padding: 100px 200px;
       /* otlqvo otdesno otgorre otdolu */
       text-align: center;
       border-top: 8px solid blue;
   }
   .kids-team-title {
       font-size: 30px;
   }
   .kids-team-subtitle {
      max-width: 50%;
      margin: 0 auto 30px auto;
      /* za da stane na dva reda */
   }

   .kids-team-form input{
       border: 1px solid white;
       border-radius: 4px;
       padding: 10px;
       /* stavat po golemi formi`kite */
       background: none;
   }
.kids-team-form input::placeholder {
   color: white;
}

.kids-team-form .kids-team-form-btn {
    background: tomato;
     color: white;
     border-radius: 7px;
     box-shadow: 0px 0px 1px 1px gray;
     font-weight: bold;
     border:none;
     padding: 12px 18px;
     margin-left: 22px;
}
footer {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 10px 80px;
    color: white;
    /* da ne stoqt zalepeni sekciite */
    border-top: 13px solid gray;
}


.footer-title {
text-transform: uppercase;
}
 .footer-cool-list {
   padding-left: 0px;
 } /* da stoqt na edno s zaglaviqta */

 .footer-cool-list li {
   margin:8px 0px;
/* da ima otstoqnie mejdu list-itemite */
 } 

 .solcial-media {
     display: flex;
     padding: 0px;
 }

 .solcial-media  i{
    
     font-size: 30px;
     padding: 20px ;
   
 }

 .solcial-media i:nth-child(1) {
     margin-right: 12px;
     /* zastana po nadqsno */

 }