html {
    font-family: Helvetica sans-serif;
    
}

* {
    box-sizing: border-box;
    /* ob6toto da e 800px */
}

save
h1 {
    font-family: Georgia;
color: solid black;
font-size: 35px;
margin-bottom: 12px;
}

h2 {
    margin-bottom: 20px;
    /* da e razdalwe4eno ot dolnoto */
    width:100%;
}

p {
    margin: 0px;
    /* za da sa podravneni otdulu i da mahnem defoultniq */
}
.medium {
    max-width: 800px;
    margin: 50px auto;
}

.medium-header {
    margin-bottom: 25px;
    /* da ne sa dolepeni */
}



.med1,
.medss {
    display: inline-block;
    width: 34%;
    vertical-align: bottom;
    /* zxa da sa na edna liniq podravneni */
}
.med1-button {
    background-color: green;
    color: honeydew;
    border-radius: 3px;
    padding: 6px 20px;
    border: none;
     /* da nqma 4erta po butona */
}
span {
    background-color: greenyellow;

}
.p-text {
    line-height: 21px;
}

