 img {
    max-width:30px ;
    width: 100%;
    margin: 10px;
} 

/* article {
    float: left;
    /* snimkata e ot lqvo i puska teksrta da stoi sled neq do neq */
    /* clear: right;  snimkata da e ot lqwvo i da nqma teks do neq */
} */

/* position ^ablolute izkarva elementa ot natural mu sreda a ^relativ ne go izkarva

ako ima paraent element to left top bottom sa spored nego


*/

.section {
    background: deeppink;

}
.second {
    position: relative;
    top: 20px;
    /* otiva nadolu ili nagore ot tekushtata poziciq */
}
.baner {
    position: fixed;
    /* dokato skrolvame da si stoi na mqsto */
    background:yellowgreen;
    box-shadow: gray;
    width: 80%;
    /* top: 100px;
    ako iskame da stoi otdolu  za kukita*/
    bottom: 0;
    margin: 0, auto;
    text-align: center;
    left:  100px;
    border-radius: 8px;
    padding-bottom: 60px;
    /* pravi mqsto otdolu */
}