@media all and (max-width: 768px )
{
    .main-movie-poster {
        display: none;
    }
    /* snimkata da se skrie */

    .main-mouve ul {
        display: block;
        /* be6e flex */
        width: 100%;
    }

    .main-movie ul li {
        padding: 0;
       
    }
    .main-movie-trailer{
width: 70%;
margin: 20px auto;
    }

    
    .main-movie-trailer  iframe {
           width: 70%;
           height: 100%;
           /* imat slojen predi tova v html */
           min-height: 350px;
    }

    .movie-list li img {
        max-height: 200px;
    }
    .movie {
        height: auto;
    }
    .movies {
        margin: 50px auto;
    }


}

@media all and (max-width: 414px ) {

.main-movie-trailer{
    width: 100%;
}
.movies {
    margin: 20px;
}
.movie-list {
    flex-direction: column;
    align-items: center;
    /* da sa centrirani */
    
}
.movie-list li img {
    max-height: 350px;
}

/* snimkite da sa edna pod druga */
}