@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
html {
    box-sizing: border-box;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* .btn {
    background: indigo;
    border-radius: 22px;
    padding: 8px 12px;
    color: white;
    text-transform: capitalize;
} */

.nav {
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px -2px black;
    background: white;
    /* krag4eto da ne se vijda */
}

.nav-menu {
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0px 6px;
}

.nav-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: 500;
}

.nav-menu li a.btn {
    border-radius: 22px;
    padding: 8px 12px;
    color: white;
    background: indigo;
    text-transform: capitalize;
}

@media all and (max-width: 1200px) {
    /* body{
        background: red;
    } za proverka */
    .nav {
        flex-direction: column;
        align-items: center;
    }
    /* 
    navigaciqta stava na kloni 
     */

    .nav-img {
        margin-bottom: 15px;
    }
     /* 
   imng otiva otgore
     */

     .nav-menu {
         flex-wrap: wrap;
     }
        /* 
  kato nqma mqsto da slizat otdolu
     */
.nav-menu li {
    margin: 15px;
}

}


@media all and (max-width: 570px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
}
/* ------------------------------------------------------------------- */

.diploma-and-certificate {
    display: flex;
    margin: 0px 80px;
    padding: 10px;
    overflow: hidden;
    /* ako izliza ot sekciqta da ne se vijda, da e vidimo samo v sekciqta */
    align-items: center;
}
.diploma-and-certificate-content {
    margin-right: 50px;
    
}


.diploma-and-certificate-content-text-subtitle {
    color: grey;
    font-size: 12px;
    font-style: italic;
}

.diploma-and-certificate-img{
    position: relative;
    width: 100%;
    min-width: 300px;
}

.diploma-and-certificate-img::before {
    border-radius: 50%;
    content: "";
    background: cornflowerblue;
    width: 420px;
    height: 300px;
    position: absolute;
    top: -80px;
    z-index: -1;
/*  pozicii na krag4eto */
}
.diploma-and-certificate-img::after {
    background: url(./resources_SoftUni_page/images/award.svg);
    background-size: cover;
    content: "";
    position: absolute;
    width:200px;
    height: 200px;
    right: -2;
    top:-20;
    /* vtoratakartinka vatre v drugata */
    z-index: 1;
    background-repeat: no-repeat;
}
.diploma-and-certificate-img img {
    position: relative;
    z-index: 2;
}

@media all and (max-width: 940px) {
    .diploma-and-certificate {
        flex-direction: column;
    }

    .diploma-and-certificate-content {
        text-align: center;
    }
    .diploma-and-certificate-img {
        margin-top: 30px;
    }
    
    .diploma-and-certificate-img::after,
    .diploma-and-certificate-img::before {
        width: 0;
        height: 0;
    }
    /* premahvame kartinkata */
}

@media all and (max-width: 570px) {

    .diploma-and-certificate {
        padding: 20px 30px;
    }
}
/* -------------------------------------------------------------------------------
 */

 .sertificate {
     display: flex;
     padding: 30px 80px;
     background: black;
     align-items: center;
     margin: 30px 0px;
    }
    
    .sertificate-content {
        color: white;
        margin-right: 30px;
        /* da ne sa zalepeni sekciite */
    }
    .certificate-img {
        flex-basis: 50%;
        position: relative;
        top:75px;


 }


 .certificate-img img{
     width: 100%;
 }

 @media all and (max-width: 1200px)
 {
  .certificate-img {
      flex-direction: column;
      top:0px;
      max-width: 370px;
      /* da e malka snimkata */
      margin-top:30px ;
      /* da ne sa zalepeni */
  }

 }


 @media all and (max-width: 940px)
 {
   .sertificate{
       
    flex-direction: column;
   }

 }

 @media all and (max-width: 570px)
 {
   .sertificate{
       
    padding: 20px, 30px;
    /*  namalqme padinga 6toto e telefon */
   }

 }
 /* ----------------------------------------------------------------------- */

 .career {
     display: flex;
     align-items: center;
     padding: 30px 80px;
     margin: 30px 0px;
 }

 .career-img {

     margin-right: 60px;
     
 }

.career-img img {
    
}
.btn-carreer {
    border:1px solid indigo;
    color: indigo;
    background: white;
    text-transform: capitalize;
    border-radius: 22px;
    padding: 8px 12px;
    text-decoration: none;
    /* da se mahne pod4ertavkata */
    margin-top: 30px;
    /* sliza po nadolu
    toi e inline element i te nqmar margin top go pravim blok */
    display: block;
    width: fit-content;
    /* kolkoto e konteta toklo da zaema za6toto e blokmelement */

}
.career-content-title {
    color: gray;
    margin: 0px 0px 20px 0px;
}
.career-content {
    /* margin-bottom: 25px; */
}
.career-content-text {
    line-height: 24px;
    /* razstoqnie mejdu */
    margin: 0px 0px 20px 0px;
}
@media all and (max-width: 1200px)
{
.career {
    flex-direction: column;
}
.career-content {
    margin-bottom: 15px;
order: 1;
}
.career-img{
order: 2;
}
.btn-carreer{
    margin: 0px auto;
    /* centrira butona po sredata */
}
/* parvo da pokazva teksta posle snimkata obra6ta im reda */
}

@media all and (max-width: 940px)
{
    
    
}

/* za telefon namalqme padinga */
@media all and (max-width: 570px)
{
 .career {
    padding: 20px 30px;
 }
 .career-img img{
    max-width: 370px;
    /* da e malka snimkata */
   width: 100%;
 }

}
/* ------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}
h3 {
    color: violet;
}